html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.card-counterv4{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counterv4:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counterv4.primary{
    background-color: #007bff;
    color: #FFF;
  }

  .card-counterv4.danger{
    background-color: #ef5350;
    color: #FFF;
  }  

  .card-counterv4.success{
    background-color: #66bb6a;
    color: #FFF;
  }
  
  .card-counterv4.pink{
    background-color: #e83e8c;
    color: #FFF;
  }  

  .card-counterv4.secondary{
    background-color: #6c757d;
    color: #FFF;
  }  

  .card-counterv4.info{
    background-color: #26c6da;
    color: #FFF;
  }  

  .card-counterv4.black{
    background-color: #000000;
    color: #FFF;
  } 

  .card-counterv4 i{
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counterv4 .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 24px;
    display: block;
  }

  .card-counterv4 .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 16px;
  }



#myBtn {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background: linear-gradient(180deg,#833ab4 , #fd1d1d , #fcb045  );
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

.container-fluid-navbar {
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}


/*Navbar search*/


#wpfront-notification-bar {
    background:red;
   
  }
  
  #wpfront-notification-bar div.wpfront-message {
    color:#fff
  }
  
  .bg-red {
    background:red;
  }
  
  
  div.wpfront-message {
    color:#fff;
    font-size: 14px;
  }
  
  a.wpfront-button {
    background:#00c300;  
   color : #ffffff;
  }
  
  a.wpfront-button-blue {
    background:#007bff;  
   color : #ffffff;
  }
  
  
  
  /*#wpfront-notification-bar {
    visibility:hidden;
    position:fixed;
    overflow:hidden;
    left:0;
    right:0;
    color:#fff;background-color:#000
  }*/
  
  .wpfront-bottom-shadow {
    -webkit-box-shadow:0px 5px 5px 0px rgba(0,0,0,.75);
    -moz-box-shadow:0px 5px 5px 0px rgba(0,0,0,.75);
    box-shadow:0px 5px 5px 0px rgba(0,0,0,.75)
  }
  
  .wpfront-top-shadow {
    -webkit-box-shadow:0px -5px 5px 0px rgba(0,0,0,.75);
    -moz-box-shadow:0px -5px 5px 0px rgba(0,0,0,.75);
    box-shadow:0px -5px 5px 0px rgba(0,0,0,.75)
  } 
  
  
  /*
  #wpfront-notification-bar.wpfront-fixed {
    position:fixed;
    z-index:9999;
    width:100%
  } */
  
  #wpfront-notification-bar div.wpfront-close { 
    position:absolute;
    top:3px;
    right:5px;
    cursor:pointer;
    font-family:Arial,sans-serif;
    font-weight:700;
    line-height:0;
    font-size:10px;
    padding:5px 2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px
  } 
  
  #wpfront-notification-bar table,#wpfront-notification-bar tbody,#wpfront-notification-bar tr {
    margin:auto;
    border:0;
    padding:0;
    background:inherit 
  }
  
  #wpfront-notification-bar td {
    background:inherit;
    vertical-align:middle;
    text-align:center;
    border:0;
    margin:0;
    padding:5px 0;
    line-height:1em
  } 
  
  #wpfront-notification-bar div {
    text-align:center;
    display:inline-block;
    vertical-align:middle
  } 
  
  #wpfront-notification-bar a.wpfront-button {
    display:inline-block;
    box-shadow:0 1px 2px rgba(0,0,0,.2);
    white-space:nowrap;
    font-size:13px;
    font-weight:700;
    text-align:center;
    text-decoration:none;
    text-shadow:0 1px 1px rgba(0,0,0,.3);
    cursor:pointer;
    padding:5px 10px;
    margin-left:5px;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px
  }
  
  #wpfront-notification-bar a.wpfront-button-blue {
    display:inline-block;
    box-shadow:0 1px 2px rgba(0,0,0,.2);
    white-space:nowrap;
    font-size:13px;
    font-weight:700;
    text-align:center;
    text-decoration:none;
    text-shadow:0 1px 1px rgba(0,0,0,.3);
    cursor:pointer;
    padding:5px 10px;
    margin-left:5px;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px
  }