.f-icon-color-phone{
    color:#eb4924;
}
.f-icon-color-line{
    color:#00c300;
}
.f-icon-color-facebook{
    color: #3b5999;
}
.f-icon-color-messenger{
    color: #0084ff;
}


.pfooter {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}