@charset "UTF-8";

.footer {
    font-size: .9rem
}

.footer .footer__widget .menu-item a,
.footer a {
    text-decoration: underline
}

.footer .footer__widget .menu-item a:hover,
.footer a:hover {
    text-decoration: none
}

.footer__widget-title {
    font-size: 1rem;
    margin-bottom: 15px
}

.footer .footer__widget ul li.menu-item {
    margin-bottom: 10px
}

.footer__col:nth-child(2)~* {
    position: relative
}

.page__footer {
    padding: 30px 0;
    overflow: hidden
}

.page__container {
    max-width: 1530px
}

.page__breadcrumbs {
    padding: 15px 0
}

.mg1-start-page {
    display: -ms-flexbox;
    display: flex
}

.mg1-start-page__sidebar {
    width: 270px;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.mg1-start-page__sidebar-item:not(:last-child) {
    padding-bottom: 40px
}

.mg1-start-page__content {
    padding-top: 10px;
    width: 100%
}

.mg1-start-page__row {
    padding-bottom: 45px
}

.mg1-start-page__row--lg {
    padding-bottom: 65px
}

.pc-category-products-layout__row {
    margin: 0
}

.pc-category-products-layout__body,
.pc-category-products-layout__sidebar {
    padding: 0;
    float: none
}

.list-nav__link,
.list-nav__link:hover {
    text-decoration: underline
}

.list-nav__item--active .list-nav__link {
    color: var(--headline-link-color-hover)
}

.small-post {
    position: relative
}

.widget-sidebar .small-post__image {
    float: left;
    width: 35%;
    padding-right: 10px;
    padding-bottom: 10px
}

.small-post__title {
    font-size: 1rem
}

.small-post__title a,
.small-post__title a:hover {
    text-decoration: underline
}

.small-post__desc {
    padding-top: 5px;
    font-size: .9rem
}

.small-post__date {
    font-size: .9rem
}

.widget-sidebar .small-post__item {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px dashed var(--base-border-color)
}

.widget-sidebar {
    position: relative
}

.widget-sidebar__header {
    background: 0 0;
    padding: 0
}

.widget-sidebar__title {
    font-size: 1.5rem;
    font-weight: 400
}

.widget-sidebar .pc-section-secondary__viewall {
    display: block;
    position: absolute;
    bottom: -30px;
    left: 0
}

.widget-sidebar .pc-section-secondary__viewall:before {
    content: none
}

.widget-sidebar .pc-section-secondary__viewall a {
    position: relative;
    padding-right: 10px;
    display: inline-block;
    font-weight: 400;
    font-size: .9rem;
    text-decoration: underline
}

.widget-sidebar .pc-section-secondary__viewall a:after {
    content: '>';
    position: absolute;
    right: 0;
    top: 0
}

.widget-sidebar--related-products .widget-sidebar__inner,
.widget_products .widget-sidebar__inner {
    padding: 25px 20px;
    border: 1px solid var(--base-border-color)
}

.content {
    margin-top: 25px
}

.content__container {
    max-width: 1530px
}

.content .content__sidebar-item.widget_price_filter {
    margin-bottom: 1px
}

.content__header {
    padding-bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px
}

.content__header-item {
    padding-bottom: 20px
}

.content__hinfo {
    color: var(--base-font-color-secondary);
    padding-left: .7em;
    border-left: 1px solid var(--base-border-color)
}

.content__sidebar--right {
    border: none;
    padding-left: 0
}

.benefits__desc {
    font-size: .9rem
}

.benefits__row {
    padding: 0
}

.benefits__ico {
    color: var(--theme-main-color);
    box-shadow: none;
    border: 1px solid var(--base-border-color);
    width: 64px;
    height: 64px;
    border-radius: 0
}

.benefits__title {
    font-size: 1.2rem
}

.benefits__inner {
    padding: 0 .7rem
}

.frame-products__title {
    font-size: 2rem;
    font-weight: 700
}

.frame-products__header {
    border-bottom-color: var(--theme-main-color)
}

.frame--checkout-order .frame__header {
    background: 0 0;
    padding: 0 0 15px 0;
    margin: 0
}

.frame--checkout-order .frame__title,
.frame--checkout-order .frame__title h3 {
    color: #000;
    font-size: 1.6rem;
    font-weight: 400
}

.frame--checkout-order .frame__inner {
    border: 1px solid var(--base-border-color);
    padding: 20px
}

.seo-text {
    padding: 35px 20px;
    background: var(--panels-bg-color)
}

.seo-text__title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000
}

.seo-text h1 {
    color: #000
}

.catalog-map {
    position: relative
}

.catalog-map__title {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--base-border-color);
    font-size: 1.5rem;
    line-height: 1;
    color: #000
}

.catalog-map__inner {
    position: relative
}

.catalog-map__arrow {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 27px;
    height: 60px;
    background-color: var(--panels-bg-color);
    border: 1px solid var(--base-border-color);
    text-align: center;
    cursor: pointer;
    font-size: 2rem
}

.catalog-map__arrow svg {
    display: none
}

.catalog-map__arrow:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased
}

.catalog-map__arrow--left {
    left: 0
}

.catalog-map__arrow--left:before {
    content: "\f104"
}

.catalog-map__arrow--right {
    right: 0
}

.catalog-map__arrow--right:before {
    content: "\f105"
}

.catalog-map-item {
    text-align: center
}

.catalog-map-item,
.catalog-map-item:hover {
    text-decoration: underline
}

.catalog-map-item__image {
    height: 162px;
    margin-bottom: 10px;
    position: relative
}

.catalog-map-item__img {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 100%
}

.metaslider.metaslider-flex .flex-control-nav li a {
    background: 0 0;
    border: 1px solid var(--base-border-color)
}

.metaslider.metaslider-flex .flex-control-nav li a.flex-active {
    background: var(--base-border-color)
}

.metaslider.metaslider-flex .flex-direction-nav a.flex-next,
.metaslider.metaslider-flex .flex-direction-nav a.flex-prev {
    width: 40px;
    height: 100%;
    top: 0;
    -ms-transform: none;
    transform: none;
    border-radius: 0;
    background: 0 0
}

.metaslider.metaslider-flex .flex-direction-nav a.flex-next:before,
.metaslider.metaslider-flex .flex-direction-nav a.flex-prev:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 2rem
}

.metaslider.metaslider-flex .flex-direction-nav .flex-prev {
    left: 0 !important
}

.metaslider.metaslider-flex .flex-direction-nav .flex-prev:before {
    content: "" !important;
    right: 2px
}

.metaslider.metaslider-flex .flex-direction-nav .flex-next {
    right: 0 !important
}

.metaslider.metaslider-flex .flex-direction-nav .flex-next:before {
    content: "" !important;
    left: 2px
}

.modal__header {
    padding: 22px 25px 21px;
    background: #fff
}

.modal__header-title {
    font-weight: 700;
    font-size: 1.571rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px
}

.modal__header-close {
    border-left: none
}

.modal__header-close-ico {
    width: 24px;
    height: 24px;
    margin-right: 25px
}

.modal__header-close-ico:hover svg {
    color: var(--base-main-link-color)
}

.modal--lg {
    max-width: 890px
}

.modal--quick-view {
    max-width: 950px
}

.modal__content {
    padding: 15px 25px
}

.modal__footer {
    background: #fff;
    border: none;
    padding: 25px 25px 15px
}

.product-search__submit,
.product-search__submit:active,
.product-search__submit:focus,
.product-search__submit:hover {
    background: var(--header-search-btn-bg);
    border-color: var(--header-search-btn-bg)
}

.product-search__submit-icon {
    color: #fff;
    width: 17px;
    height: 15px
}

.quantity--single-product .quantity__input {
    border-color: var(--form-conrols-border-color)
}

.quantity__btn {
    display: none
}

.quantity__input {
    -moz-appearance: initial;
    -webkit-appearance: initial
}

.quantity__input::-webkit-inner-spin-button {
    display: inline
}

.pc-section-primary {
    border: none
}

.pc-section-primary--kit .pc-section-primary__title {
    padding: 15px 0;
    margin: 0 0 18px 0;
    border-bottom: 2px solid var(--theme-main-color);
    display: block;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000
}

.pc-section-primary--kit .pc-section-primary__inner {
    padding: 0
}

.pc-section-primary__title {
    position: static;
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid var(--base-border-color);
    display: block;
    width: 100%;
    vertical-align: baseline;
    font-size: 1.5rem;
    line-height: 1;
    color: #000
}

.pc-section-primary__inner {
    padding: 0
}

.pc-section-primary__arrow {
    width: 27px;
    height: 60px;
    background-color: var(--panels-bg-color);
    border: 1px solid var(--base-border-color);
    font-size: 2rem;
    color: var(--base-font-color)
}

.pc-section-primary__arrow svg {
    display: none
}

.pc-section-primary__arrow:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased
}

.pc-section-primary__arrow--left {
    left: 0
}

.pc-section-primary__arrow--left:before {
    content: "\f104"
}

.pc-section-primary__arrow--right {
    right: 0
}

.pc-section-primary__arrow--right:before {
    content: "\f105"
}

.pc-section-secondary__hlink {
    text-decoration: underline
}

.accordion-tabs__link,
.accordion-tabs__link:hover {
    color: #000
}

.filter__title {
    color: var(--panels-heading-color);
    text-transform: none;
    font-size: 1.2em
}

.filter__item {
    padding: 20px
}

.filter__inner {
    margin-top: 1em
}

.filter__checkgroup-title {
    color: var(--base-main-link-color)
}

.filter__checkgroup-link:hover .filter__checkgroup-title {
    color: var(--base-main-link-hover-color)
}

.filter__properties-item:not(:last-child) {
    margin-bottom: 10px !important
}

.filter__checkgroup-control {
    top: -3px
}

.filter__checkgroup-link:hover .filter__checkgroup-control:not([disabled])+.filter__checkgroup-check {
    border-color: var(--theme-main-color)
}

.filter__checkgroup-control[type=checkbox]:checked+.filter__checkgroup-check {
    background: var(--theme-main-color);
    border-color: var(--theme-main-color)
}

.filter__checkgroup-control[type=radio]:checked+.filter__checkgroup-check {
    border-color: var(--theme-main-color)
}

.filter__checkgroup-control[type=radio]:checked+.filter__checkgroup-check:before {
    background: var(--theme-main-color)
}

.filter__checkgroup-control:checked+.filter__label-button {
    background: var(--theme-main-color);
    border-color: var(--theme-main-color)
}

.content__sidebar .pc-active-filter__list {
    border: 1px solid var(--base-border-color)
}

.content__sidebar .pc-active-filter__item-link {
    color: var(--base-main-link-color)
}

.content__sidebar .pc-active-filter__item-link:hover {
    color: var(--base-main-link-hover-color)
}

.catalog-toolbar {
    padding: 0;
    color: inherit;
    background: 0 0
}

.catalog-toolbar__item {
    padding: 0
}

.pagination__item .page-numbers {
    border: 1px solid var(--base-border-color)
}

.pagination__item a.page-numbers,
.pagination__item a.page-numbers:hover {
    color: #666
}

.pagination__item a.page-numbers:hover {
    background: var(--panels-bg-color)
}

.pagination .page-numbers.current {
    background: #666;
    border: 1px solid #666
}

.pagination .page-numbers:before {
    color: #666;
    font: normal normal normal 14px FontAwesome;
    line-height: 26px;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.pagination .next.page-numbers,
.pagination .prev.page-numbers {
    font-size: 0
}

.pagination .prev.page-numbers:before {
    content: "\f104"
}

.pagination .next.page-numbers:before {
    content: "\f105"
}

.star-rating__star {
    margin-left: 1px;
    width: 14px;
    height: 14px
}

.star-rating__star:first-child {
    margin-left: 0
}

.star-rating__star .svg-icon {
    stroke-width: 40;
    color: var(--star-empty-color);
    stroke: var(--star-rating-color)
}

.star-rating__star--active .svg-icon {
    color: var(--star-rating-color)
}

.star-voting__ico .svg-icon {
    stroke-width: 40;
    color: var(--star-empty-color);
    stroke: var(--star-rating-color)
}

.star-voting__ico:hover .svg-icon,
.star-voting__ico:hover~.star-voting__ico .svg-icon,
.star-voting__input:checked~.star-voting__ico .svg-icon {
    color: var(--star-rating-color)
}

.cart-summary__delete .remove_from_cart_button {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.3333333;
    border-radius: 2px;
    border: 1px solid;
    width: auto;
    height: auto;
    text-align: center;
    color: var(--btn-default-color);
    background: var(--btn-default-bg);
    border-color: var(--btn-default-border)
}

.cart-summary__delete .remove_from_cart_button:hover {
    color: var(--btn-default-hover-color);
    background: var(--btn-default-hover-bg);
    border-color: var(--btn-default-hover-border)
}

.cart-summary__total-price--order {
    padding: 0;
    background: 0 0
}

.cart-product__link {
    color: #000
}

.cart-product__link:hover {
    color: #000;
    text-decoration: underline
}

.cart-price__main {
    font-weight: 700
}

.cart-price__main--lg {
    font-size: 1.5rem
}

.product-thumb__left {
    border: 1px solid var(--base-border-color);
    width: 80px
}

.product-thumb__title {
    font-size: .9rem;
    text-decoration: underline
}

.product-thumb__title:hover {
    text-decoration: underline
}

.product-thumb__row:not(:first-child) {
    margin-top: 5px
}

.product-kit .product-thumb__left {
    width: 80px
}

.product-kit .product-photo__item {
    height: 80px;
    padding-bottom: 0;
    padding: 5px
}

.product-kit .product-thumb .product-photo__img {
    padding: 0
}

.product-thumb__row:not(.product-price) {
    font-size: .9rem
}

.product-price--bg {
    background: 0 0;
    padding: 0
}

.product-price del .woocommerce-Price-amount {
    font-size: 1rem
}

.product-price--lg del .woocommerce-Price-amount {
    font-size: 1.4rem;
    font-weight: 700
}

.product-price--lg {
    line-height: 1;
    font-size: 2rem
}

.product-cut {
    text-align: left
}

.product-cut__extra-info {
    background: #fff;
    border: 2px solid var(--theme-main-color);
    border-top: 0
}

.product-cut__extra-info>.variants-select {
    -ms-flex-order: 1;
    order: 1
}

.product-cut__extra-info>* {
    -ms-flex-order: 3;
    order: 3
}

.product-cut__action-row {
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.product-cut__title a {
    text-decoration: underline
}

.pc-add-to-cart-loop {
    vertical-align: middle;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0
}

.pc-add-to-cart-loop>* {
    padding: 0;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 10px
}

.pc-add-to-cart-loop.button {
    padding-top: 7px;
    padding-bottom: 7px
}

.product-kit .pc-add-to-cart-loop {
    margin-right: 0;
    margin-top: 0
}

.pc-add-to-cart {
    width: 100%
}

.pc-add-to-cart__quantity {
    width: 100px;
    max-width: 100px
}

.pc-add-to-cart .added_to_cart {
    color: var(--btn-default-color);
    background: var(--btn-default-bg);
    border-color: var(--btn-default-border)
}

.pc-add-to-cart .added_to_cart:hover {
    color: var(--btn-default-hover-color);
    background: var(--btn-default-hover-bg);
    border-color: var(--btn-default-hover-border)
}

.product-photo__item {
    padding-bottom: 75%
}

.widget-sidebar .product-photo__img {
    padding: 3px
}

.widget-sidebar .product-photo__item {
    padding-bottom: 100%
}

.product-labels__item {
    width: 4.3em;
    height: 2.2em
}

.product-labels__item--hit {
    color: #fff;
    background-color: rgba(119, 15, 95, .5)
}

.product-labels__item--discount {
    color: #fff;
    background-color: rgba(196, 80, 35, .5)
}

.product-labels__text {
    text-transform: none
}

.pc-product-summary {
    background: var(--panels-bg-color);
    padding: 28px
}

.pc-product-summary .product_title {
    font-size: 1.428rem;
    font-weight: 700
}

.pc-product-summary__footer>* {
    padding-top: 15px;
    border-top: 1px dotted #c5c5c5
}

.pc-product-summary__more-link {
    padding-top: 15px
}

.pc-product-purchase__add-to-cart {
    background: 0 0;
    margin-bottom: -14px;
    margin-right: -14px
}

.pc-product-purchase__add-to-cart>* {
    margin-bottom: 14px;
    margin-right: 14px
}

.pc-product-purchase__add-to-cart,
.pc-product-purchase__add-to-cart>* {
    padding: 0
}

.pc-product-purchase__body {
    padding-top: 20px;
    border-top: 1px dotted #c5c5c5
}

.pc-product-purchase__header {
    margin-bottom: 18px
}

.pc-product-purchase__add-to-cart-item .btn-default {
    background: #fff;
    padding: 10px 16px
}

.pc-product-purchase__add-to-cart-item .btn-default:hover {
    background: var(--btn-default-hover-bg)
}

.product-meta {
    font-size: 1rem
}

.product-meta a,
.product-meta a:hover {
    text-decoration: underline
}

.pc-product-purchase .variants-select__field select {
    height: 46px;
    line-height: 46px;
    font-size: 18px
}

.attributes-list--small {
    font-size: 1rem
}

.product-kit__item {
    -ms-flex-pack: start;
    justify-content: flex-start
}

.product-kit__purchase {
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.product-kit__purchase-inner {
    background: 0 0;
    padding: 0
}

.product-kit__products {
    -ms-flex-positive: 1;
    flex-grow: 1
}

.product-kit__slide:not(:last-child) {
    margin-bottom: 30px
}

.product-kit__product {
    width: 280px
}

.product-kit__product:not(:first-child):before {
    color: var(--base-font-color-secondary)
}

.product-kit__discount-label {
    background-color: rgba(119, 15, 95, .5);
    width: 4.3em;
    height: 2.2em;
    top: 4px;
    left: 5px
}

.product-kit__price {
    padding-bottom: 0
}

.product-kit__discount {
    padding-bottom: 0
}

.pc-product-shipping__ico {
    font-size: 20px;
    color: var(--theme-main-color)
}

.product-cut .pc-product-action--stock-html {
    -ms-flex-order: 1 !important;
    order: 1 !important;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.pc-product-action__ico {
    color: var(--theme-main-color)
}

.pc-product-action__ico--compare {
    width: 20px
}

.typo--small {
    font-size: 1rem
}

.product-cut__action-row .btn-default {
    background: #fff;
    padding: 4px 12px
}

.product-cut__action-row .btn-default:hover {
    background: var(--btn-default-hover-bg)
}

.btn-default__ico--wishlist {
    width: 22px;
    height: 21px
}

.btn-default__ico--compare {
    width: 22px;
    height: 21px
}

.btn-load-more__icon {
    color: var(--theme-main-color)
}

.widget_price_filter {
    font-size: .9rem
}

.widget_price_filter .clear .ui-slider-handle {
    width: 22px;
    height: 22px;
    top: -4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2)
}

@media (min-width:480px) {
    .pc-add-to-cart {
        width: auto
    }

    .pc-add-to-cart__button,
    .pc-add-to-cart__quantity {
        margin-bottom: 0
    }
}

@media (min-width:768px) and (max-width:1199px) {
    .footer__row {
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

@media (min-width:768px) {
    .footer__col:nth-child(2)~:before {
        position: absolute;
        content: '';
        width: 0;
        height: calc(100% - 30px);
        border-left: 1px dashed var(--footer-border-color);
        left: 0;
        top: 0
    }

    .pc-category-products-layout__row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .pc-category-products-layout__sidebar {
        width: 270px;
        margin-right: 30px
    }

    .pc-category-products-layout__body {
        width: calc(100% - 270px - 30px)
    }

    .pagination__item {
        height: 3.42rem;
        width: 3.42rem;
        line-height: 3.42rem
    }

    .widget_price_filter .widget-sidebar__title {
        color: var(--panels-heading-color);
        text-transform: none;
        font-size: 1.2em
    }
}

@media (min-width:992px) {
    .mg1-start-page__content {
        width: calc(100% - 270px);
        padding-left: 30px;
        padding-top: 30px
    }

    .metaslider.metaslider-flex .flex-direction-nav a.flex-next,
    .metaslider.metaslider-flex .flex-direction-nav a.flex-prev {
        background-color: rgba(0, 0, 0, .129)
    }

    .metaslider.metaslider-flex .flex-direction-nav a.flex-next:hover,
    .metaslider.metaslider-flex .flex-direction-nav a.flex-prev:hover {
        background: rgba(0, 0, 0, .2)
    }

    .product-cut:hover .product-cut__extra-info {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .product-cut:hover:before {
        border: 2px solid var(--theme-main-color);
        border-bottom: 0
    }

    .product-kit__purchase-inner {
        text-align: left
    }
}

@media (min-width:1200px) {
    .footer__col:first-child {
        position: relative
    }

    .footer__col:first-child>* {
        position: relative;
        z-index: 10
    }

    .footer__col:first-child:before {
        content: '';
        position: absolute;
        top: -30px;
        bottom: 0;
        right: 0;
        width: 1000px;
        background: var(--footer-aside-bg-color);
        z-index: 1
    }

    .footer__col:nth-child(2)~* {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center
    }

    .content__header {
        -ms-flex-direction: row;
        flex-direction: row;
        margin-bottom: 30px;
        border-bottom: 2px solid var(--theme-main-color)
    }

    .content__header-item {
        padding-bottom: 10px
    }

    .content__header-item:first-child {
        padding-right: 15px
    }

    body.single-product .content__sidebar--right {
        width: 270px;
        margin-right: 30px
    }

    .modal__footer .btn {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 2px
    }
}

@media (max-width:1199px) {
    .footer__col {
        max-width: 250px;
        width: auto
    }
}

@media (max-width:767px) {
    .pc-product-loop--grid .pc-product-loop__col {
        width: 50%
    }

    .woocommerce .products .product {
        width: calc(50% - 30px)
    }
}


@media (max-width: 576px) {
    .footer__col {
        max-width: 100%;
        width: auto;
        margin: auto;


    }

    .footer__row {
        /* display: -ms-flexbox; */
        /* display: flex; */
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: -30px;
        text-align: center;
    }
}